imutils==0.5.4
ipykernel==6.23.1
jupyter
matplotlib==3.7.1
numpy==1.24.1
opencv-python
pandas==2.0.1
Pillow==9.3.0
pyshine==0.0.9
pytz==2023.3
PyYAML==6.0
QtPy==2.3.1
scipy==1.10.1
seaborn==0.12.2
supervision==0.1.0
supervisor==4.2.5
torch
ultralytics==8.0.105
urllib3==1.26.13